@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  /* сбрасываем внешние отступы*/
  display: flex;
  flex-direction: column;
  /* меняем ось на сверху вниз*/
  min-height: 100%;
  /* чтобы размер тега равнялся размеру окна браузера*/
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

/* цвет шапки*/
.page_header {
  color: #000000;
  background: #FFFFFF;
}

/* задаём размеры навигации*/
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation_page_logo {
  margin: 0 30px 0 70px;
}

/* задаём размеры первому списку*/
.navigation_list {
  width: 450px;
  margin: 0;
  padding: 0;
}

/* задаём размеры второму списку*/
.navigation_user_button {
  max-width: 310px;
  margin-left: auto;
}

/* навигация шапки*/
.navigation_item_link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

/* кнопка шапки*/
.header_button {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  align-items: center;
  text-align: Center;
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
}

.main_container {
  width: 1200px;
  margin: 0 auto;
  flex-wrap: 1;
  /*делаем блок жадным*/
}

/* текст на фоновом изображении*/
.main_image_welcome {
  display: block;
  margin: 0 auto;
}

/* фоновое изображение main*/
.main_image {
  background-color: #000000;
  background-image: url("../images/index_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* заголовок main*/
.main_content_title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/* описание main*/
.main_content_description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.flex_block {
  display: flex;
  width: 1200px;
  padding: 0;
  justify-content: space-between;
}

.advantages_list {
  display: flex;
  width: 1200px;
  padding: 0;
  justify-content: space-between;
  flex-direction: column;
}

.flex_advantages,
.flex_housing,
.flex_meal,
.flex_souvenirs,
.flex_bridge {
  width: 400px;
}

.flex_block_bridge {
  display: flex;
  width: 1200px;
  padding: 0;
  justify-content: space-between;
}


/* преимущества */

.advantages_title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages_description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

/* голубой фон*/
.blue {
  background: #82B3D3;
}

/* голубой фон с прозрачностью 12%*/
.opacity_blue {
  background: rgba(131, 179, 211, 0.12);
}

/* голубой фон с прозрачностью 20%*/
.opacity_blue_darker {
  background: rgba(131, 179, 211, 0.2);
}

/* цвет заголовка для голубого фона*/
.write {
  color: #FFFFFF;
}

/* цвет описания для голубого фона*/
.advantages_description.write {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

/* ненумерованный список - скрыто*/
.hotel_list,
.footer_social_list,
.navigation_list,
.advantages_list,
.advantages_list_city,
.breadcrumbs,
.catalog_filter_list,
.pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*поиск - заголовок*/
.search_title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/*поиск - описание*/
.search_description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/*кнопка поиска*/
.search_link {
  font-family: inherit;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  align-items: center;
  text-align: Center;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
}


/*фон формы*/
.subscribe {
  background-color: #000000;
  background-image: url("../images/background_form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

/*заголовок формы*/
.subscribe_title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

/*описание формы*/
.subscribe_description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: inherit;
}

/*поле ввода данных*/
input[type="email"] {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  color: #000000;
  background: #F2F2F2;
  border: none;
}

/*кнопка формы*/
.form_button {
  font-family: inherit;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: Center;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  border: none;
}

/*цвета футера*/
.page_footer {
  color: #000000;
  background-color: #ffffff;
}

/*ссылки футера*/
.page_footer a {
  color: #000000;
  text-decoration: none;
}

/*телефон*/
.footer_contact_address_phone {
  font-family: inherit;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: Center;
  text-transform: uppercase;
  color: #000000;
}

/*размеры для футера (флекс)*/
.flex_footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer_social {
  width: 190px;
  padding-left: 70px;
  padding-right: 42px;
}

.footer_logo {
  padding-left: 42px;
  padding-right: 70px;
}

/*фон каталога*/
.background_catalog {
  background-color: #000000;
  background-image: url("../images/background_catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

/*заголовок фильтрации*/
.inner_header_title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: inherit;
  width: 495px;
}

/*хлебные крошки*/
.breadcrumbs {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  width: 150px;

}

/*Ссылка домика в хлебных крошках*/
.breadcrumbs_item a {
  color: #FFFFFF;
  text-decoration: none;
}

/*тип жилья и инфраструктура - заголовок */
.catalog_filter_title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-transform: capitalize;
}

/*тип жилья и инфраструктура - пункты */
.control_input {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

/*кнопки*/
.button_blue {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: Center;
  align-items: center;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
  background: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
}

.button_remove {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: Center;
  width: 160px;
  height: 48px;
  background: none;
  color: #FFFFFF;
  border: none;
}

/*заголовки отелей*/
.hotel_card_title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
}

/*стоимость отелей*/
.hotel_card_description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/*кнопка подробнее*/
.hotel_card_button {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: Center;
  align-items: center;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
}

/*кнопка в избранное*/
.button_favourites {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: Center;
  align-items: center;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  background: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
}

/*кнопка в избранном зеленая*/
.button_favourites_green {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: Center;
  align-items: center;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  background: #7DB54F;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
}

/*ссылки у кнопки подробнее*/
.hotel_list a {
  color: #FFFFFF;
  text-decoration: none;
}

/*рейтинг*/
.hotel_card_rating {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: Center;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  color: #333333;
  border: none;
}

/*пагинация*/
.pagination-link {
  font-family: inherit;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  align-items: center;
  text-align: Center;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #82B3D3;
}

.number_page,
.select_control_number {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/*заголовок формы*/
.subscribe_title_catalog {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

/*описание формы*/
.subscribe_description_catalog {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/*заголовки отелей*/
.pagination-item a {
  color: #FFFFFF;
  text-decoration: none;
}

.search_hotel {
  margin: 0 auto;
}

.flex_filter {
  display: flex;
  flex-wrap: wrap;
  margin: 0 73px 0 71px;
}

.subscribe_catalog {
  margin: 0 auto;
}

.hotel_card {
  margin: 0 auto;
  margin-left: 18px;
}

.flex_pagination {
  display: flex;
  margin: 0 73px 0 71px;
}

.pagination-item {
  display: inline;
  margin-left: 8px;
}
